
.page {
   position: relative;
   padding: 20px 20px;
   animation: fade-in .6s;
   background-color: rgba(255, 255, 255, 0.7) !important;
}

.hide {
   display: none;
}

@keyframes fade-in {
   0% { opacity: 0; }
   100% { opacity: .7;}
}