
// theme

// light mode
   $l-translucent-bg: rgba(255, 255, 255, 0.3);
   $l-text-color: black;

// dark mode
   $d-translucent-bg: rgba(96, 96, 96, 0.3);
   $d-text-color: white;

.translucent {
   background-color: $l-translucent-bg;
}
* { color: $l-text-color; }

.dark {
   .translucent {
      background-color: $d-translucent-bg !important;
   }
   * { color: $d-text-color; }
}

.page {
   flex: 1 1 auto;
   height: 100%;
   position: relative;
   padding: 20px;
   animation: fade-in .6s;
   background-color: none;
}

.hide { display: none !important; }

@keyframes fade-in {
   0% { opacity: 0; }
   100% { opacity: .7;}
}