@import '../util/general-env';

$icon-size: 30px;

$navbar-height: 60px;
$navigator-height: 60px;
$navigator-text-size: 30px;

// theme

// light mode
   $l-navbar-bg-color: white;
   $l-navbar-shadow: 2px 2px 10px black;

// dark mode
   $d-navbar-bg-color: black;
   $d-navbar-shadow: 2px 2px 10px orange;

.icon {
   width: $icon-size;
   height: $icon-size;
}

@keyframes text-gradient {
   0% {
      background-position: 0 500px;
   }
   100% {
      background-position: 500px 0;
   }
}

.animated-text-gradient {
   background-image: linear-gradient(90deg, #f570da, #2de0c8, #F57170);
   background-clip: text;
   -webkit-background-clip: text;
   -moz-background-clip: text;
   -o-background-clip: text;
   -ms-background-clip: text;
   background-size: 500px 500px;
   color: transparent !important;
   animation: text-gradient 2s infinite alternate-reverse;
   -webkit-animation: text-gradient 2s infinite alternate-reverse;
   -moz-animation: text-gradient 2s infinite alternate-reverse;
   -o-animation: text-gradient 2s infinite alternate-reverse;
   -ms-animation: text-gradient 2s infinite alternate-reverse;
}

@keyframes pop-up {
   0% {
      box-shadow: none;
   }
   50% {
      box-shadow: 6px 6px 10px red;
   }
   100% {
      box-shadow: 4px 4px 10px red;
   }
}

#navbar {
   flex: 0 1 auto;
   display: flex;
   height: $navbar-height;
   position: relative;
   margin-bottom: 20px;
   background-color: $l-navbar-bg-color;
   box-shadow: $l-navbar-shadow;
   .checked { 
      position: relative;
      box-shadow: 4px 4px 10px red !important;
      z-index: 1;
      animation: pop-up .5s;
      .wrapper {
         top: -50% !important;
      }
   }
   .navbar-nav {
      flex: 1;
      height: $navigator-height;
      overflow-y: hidden;
      cursor: pointer;
      position: relative;
      &:hover {
         box-shadow: 4px 4px 10px cyan;
         .wrapper {
            top: -50%;
         }
      }
   
      .wrapper {
         width: 100%;
         height: 100%;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         span {
            display: block;
            height: 100%;
            width: 100%;
            position: relative;
            img, h1, h2, h3, h4, h5, h6 {
               position: absolute;
               white-space: nowrap;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%);
            }
            h1, h2, h3, h4, h5, h6 {
               font-size: $navigator-text-size;
            }
         }
         transition: .35s;
      }
   }
   // ↓ this is the toggle button part
   .right {
      flex: 2;
      display: inline-flex;
      flex-direction: row;
      padding-right: 20px;
      align-items: center;
      justify-content: right;
   }
}


/// darkmode
.dark {
   #navbar {
      background-color: $d-navbar-bg-color !important;
      box-shadow: $d-navbar-shadow !important;
   }
   img {
      filter: invert(61%) sepia(65%) saturate(523%) hue-rotate(0deg) brightness(105%) contrast(102%) !important;
   }
}