
// theme

// light mode
   $l-text-color: black;

// dark mode
   $d-text-color: rgb(211, 211, 211);

body, #root {
   width: 100vw;
   height: 100vh;
   overflow: hidden;
}

#root {
   display: flex;
   flex-flow: column;
}

* {
   color: $l-text-color;
}

.dark {
   * {
      color: $d-text-color;
   }
}