---
import ImageWithFallback from './ImageWithFallback.astro';
import BackgroundImage from '@images/home-bg-img.jpeg?fallback';
import Profile from './Profile.astro';
---

<section id="home-top">
  <div class="image-bg-container">
    <ImageWithFallback
      images={BackgroundImage}
      altText='Background Image'
      brightness={0.7}
    />
  </div>
  <div class="profile-container px-3">
    <Profile/>
  </div>
</section>

<style lang="scss">
  @use '@utils/mixins' as *;
  $bg-color: #F0FFFF;

  #home-top {
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    background-color: $bg-color;
    display: flex;
    flex-direction: row;

    .image-bg-container {
      @include image-wrapper;
      width: 60%;
      height: 100%;
      clip-path: polygon(0% 0%, 100% 0, 85% 50%, 100% 100%, 0% 100%);
    }

    .profile-container {
      flex: 1;
      display: flex;
      align-items: center;
    }
  }

  @media screen and (max-width: 750px) {
    #home-top {
      flex-direction: column-reverse;
      background-color: #bfebff;
      .image-bg-container {
        width: 100%;
        height: 70%;
        clip-path: polygon(0% 0%, 50% 25%, 100% 0%, 100% 100%, 0% 100%);
      }
    }
  }
</style>