
@media screen and (max-width: 739px) {
   $bar-size: 60px;
   $bar-size-int: 60;
   .open {
      width: 180px !important;
      .wrapper span:nth-child(2) {
         display: inline-block !important;
      }
      .bottom div {
         display: block !important;
         .switch {
            position: absolute;
            left: 20%;
         }
      }
      .bottom p {
         display: block !important;
      }
   }
   .checked {
      background-color: #ccc;
   }
   #navbar {
      background-color: rgb(234, 234, 234);
      position: absolute;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100vh;
      width: 60px;
      cursor: pointer;
      box-shadow: 2px 2px 7px black;
      overflow: hidden;
      transition: .3s;
      div {
         height: $bar-size;
         width: 180px;
         display: flex;
         align-items: center;
         justify-content: center;
      }
      .wrapper {
         span {
            flex: 1;
            display: inline-block;
            width: $bar-size;
            height: $bar-size;
            position: relative;
            &:nth-child(2) {
               flex: 2;
               display: none;
               // width: 0;
            }
            img, h3 {
               position: absolute;
               white-space: nowrap;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%);
            }
            h3 {
               display: block;
            }
         }
      }
      .bottom {
         margin-top: auto;
         p {
            flex: 1;
            display: none;
            width: $bar-size;
            height: $bar-size;
            white-space: wrap;
            text-align: center;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
         }
         div {
            flex: 2;
            display: none;
            position: relative;
         }
      }

      &:hover {
         background-color: rgb(234, 234, 234);
      }
   }
   section {
      $padding-int: 20;
      padding: 0px 
               $padding-int * 1px 
               0px 
               calc($bar-size-int + $padding-int) * 1px !important;
   }
}