
$box-width: 400px;

// theme

// light mode
   $l-base-color: rgb(0, 208, 255);
   $l-content-headers-color: black;
   $l-scroll-radio-input-color: white;
   $l-scroll-radio-input-hover-color: rgb(158, 158, 158);

// dark mode
   $d-base-color: rgb(0, 255, 208);
   $d-content-headers-color: white;
   $d-scroll-radio-input-color: gray;
   $d-scroll-radio-input-hover-color: white;
   $d-light-color: yellow;
   $d-scroll-radio-input-light-effect: 
      inset 0 0 2px $d-light-color,
      inset 2px 0 2px $d-light-color,
      inset -2px 0 2px $d-light-color,
      0 0 20px $d-light-color;

.headers {
   text-align: left;
   display: block;
   width: $box-width;
   margin: 0 auto;
}

.box {
   width: $box-width;
   height: 280px;
   overflow: hidden;
   margin: auto;
   border-radius: 20px;
   position: relative;
}

.scroll-wrapper {
   display: flex;
   flex-wrap: nowrap;
   height: 100%;
   transition: .5s ease-out;
   .content {
      flex: 0 0 $box-width;
      height: 100%;
      padding: 0 20px 0 20px;
      margin-right: 50px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      * {
         display: block;
         width: 100%;
      }
      .content-text {
         height: 120px;
         position: relative;
         overflow: hidden;
         p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 0 20px 0 20px;
            text-align: justify;
         }
      }
      .content-headers {
         font-weight: 500;
         font-size: 22px;
         margin-bottom: 20px;
         position: relative;
         &::before {
            content: '';
            width: 100%;
            height: 3px;
            position: absolute;
            background: linear-gradient(90deg, $l-base-color 25%, rgba(255, 255, 255, 0) 75%);
            top: 100%;
         }
      }
      .content-footer {
         position: relative;
         height: 40px;
         button {
            display: block;
            width: 50px;
            height: 30px;
            position: absolute;
            top: 100%;
            left: 100%;
            transform: translate(-100%, -100%);
            // background-color: red;
            border-radius: 10px;
            border: 2px rgb(0, 136, 255) solid;
            transition: .2s;
            img {
               width: 20px;
               height: 20px;
               margin: auto;
            }
         }
         button:hover {
            background-color: $l-base-color;
            border-color: $l-base-color;
            height: 32px;
         }
      }
   }
}

.scroll-button-container {
   margin-top: 15px;
   height: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   label {
      flex: 0 1 40px;
      display: block;
      height: 100%;
      cursor: pointer;
      position: relative;
      input {
         -webkit-appearance: none;
         cursor: pointer;
         appearance: none;
         position: absolute;
         height: 15px;
         width: 15px;
         border-radius: 50%;
         background-color: $l-scroll-radio-input-color;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }
      input:checked {
         background-color: $l-scroll-radio-input-hover-color;
      }
   }
}

.dark {
   .content-headers {
      color: $d-content-headers-color !important;
      &::before {
         background: linear-gradient(90deg, $d-base-color 25%, rgba(255, 255, 255, 0) 75%) !important;
      }
   }
   .scroll-button-container input {
      background-color: $d-scroll-radio-input-color;

      &:checked {
         background-color: $d-scroll-radio-input-hover-color;
         box-shadow: $d-scroll-radio-input-light-effect !important;
         -webkit-box-shadow: $d-scroll-radio-input-light-effect !important;
         -moz-box-shadow: $d-scroll-radio-input-light-effect !important;
         -o-box-shadow: $d-scroll-radio-input-light-effect !important;
         -ms-box-shadow: $d-scroll-radio-input-light-effect !important;
      }
   }
}