
html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.serif-font {
  font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
}

@font-face {
  font-family: 'Ubuntu Regular';
  src: url('@fonts/Ubuntu/Ubuntu-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu Bold';
  src: url('@fonts/Ubuntu/Ubuntu-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu Light';
  src: url('@fonts/Ubuntu/Ubuntu-Light.woff2') format('woff2');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('@fonts/Merriweather/Merriweather.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
