---
import { root } from '@utils/helpers';
import 'bootstrap/dist/css/bootstrap.min.css';
import './global.scss';

interface Props {
	title?: string,
}

const { title = "Shun's Portfolio" }: Props = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/png" href={root("page-icon.png")} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script src={root("bootstrap.bundle.min.js")} defer></script>
	</head>
	<body>
		<slot />
	</body>
</html>
